
html{
    background-color: whitesmoke;
    
}
body {
    display: grid;
    grid-template-areas:
        "header"
        "body-text"
        "photo"
        "footer";
    grid-gap: 5px;
    justify-items: center;
    margin: 5px auto;
    border: 1.5px solid black;
    padding: 5px;
    width: 80%;
}

article{
    background-color: hsl(150, 20%, 95%)
}
header{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

div{
    border-radius: 50%;
    
}
.inner{
    background-color: #800080;
    width: 50px;
    height: 50px;
    border: 25px solid #0000ff;
}
.middle{
    background-color: #008000;
    width: 100px;
    height: 100px;
    padding: 25px;
    border: 25px solid #ffff00;
}
.outer{
    background-color: #ffa500;
    width: 200px;
    height: 200px;
    padding: 25px;
    border: 25px solid #ff0000;
}

footer{
    margin: 1em;
    text-align: center;
}

footer > p:first-child{
    background-color:beige;
}

footer ul{
    list-style-type: none;
    display: flex;
    gap: 2em;
    margin: auto;
    justify-content: center; 
}
.section-2 h2{
    text-align: center;
}
